# Database Configuration
DB_USER=postgres
DB_PASSWORD=sarayu
DB_HOST=db-us
DB_PORT=5432
DB_NAME=property_db

# Kafka Configuration
KAFKA_BROKER=kafka:29092
KAFKA_TOPIC=property-updates

# Region Configuration
REGION=us

# Server Configuration
PORT=8000
NODE_ENV=development
